:host {
  display: block;
  padding: 10px;
}

.centered {
  text-align: center;
  border-top: none;
}

.blank {
  height: 50px;
  border: 1px solid #DDDDDD;
  border-bottom: none;
}

.selected {
  background-color: #F5F5F5;
}

.blue {
  color: #28739e;
}

.custom-pane {
  padding-top: 20px;
  border: 1px solid #DDDDDD;
  border-top: none;
}

.pointer {
  cursor: pointer;
}

.no-margin {
  margin: 0;
}

.bold {
  font-weight: bold;
}

#filter {
  color: #28739e;
}
