<a *ngIf="node.title"
   class="list-group-item border"
   [class.selected]="showChildren"
   [style.padding-left.px]="level*30+10"
   (click)="toggle()">
    <i *ngIf="node.children && node.children.length>0"
       class="fa fa-caret-right fa-fw"
       [ngClass]="{'fa-caret-right': !showChildren, 'fa-caret-down': showChildren}"
       aria-hidden="true">
    </i>

    <span [class.no-children]="!node.children || node.children.length==0">{{node.title}}</span>

    <span class="pull-right" (click)="removeNode()">
      <i class="fa fa-times fa-fw"></i>
    </span>
</a>

<div *ngIf="showChildren">
  <div *ngFor="let node of node.children">
    <node [node]="node" [level]="level+1" (remove)="removeNode($event)"></node>
  </div>
</div>

