<li *ngIf="nodes.title" class="list-group-item"
    [class.list-group-item-info]="nodes.children && nodes.children.length>0"
    (click)="toggle()">
  <i *ngIf="nodes.children && nodes.children.length>0"
     class="fa fa-angle-right fa-fw"
     [ngClass]="{'fa-angle-right': !showChildren, 'fa-angle-down': showChildren}"
     aria-hidden="true"></i>
  {{nodes.title}}
  <span class="pull-right" (click)="removeNode()">
    <i class="fa fa-times fa-fw"></i>
  </span>
</li>

<div *ngIf="showChildren && nodes.children && nodes.children.length>0">
  <div *ngFor="let node of nodes.children; let i=index" class="has-children">
    <node [nodes]="node" (remove)="removeNode($event)"></node>
  </div>
</div>

